.header {
    background: var(--color1);
    position: sticky;
    top: 0;
    height: 100px;
    box-shadow:
        0 2px 5px rgba(0, 0, 0, 0.1),
        0 -2px 5px rgba(0, 0, 0, 0.05);
    z-index: 999;
}

.header .container {
    max-width: 1400px;
    height: 100%;
}

.header .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.header .inner-logo {
    display: flex;
    align-items: center;
}

.header .inner-logo img {
    width: 48px;
    height: auto;
}

.header .inner-logo .inner-content {
    color: black;
    font-size: 25.6px;
    padding-left: 10px;
}

.header .inner-title {
    display: flex;
    height: 100%;
    /* full chiều cao header */
}

.header .inner-bar {
    display: none;
}

.header .inner-title a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    height: 100%;
    font-size: 17.6px;
    color: black;
    text-decoration: none;
}

.header .inner-title a:hover {
    background-color: white;
    color: black;
}

.header .inner-social {
    display: flex;
}

.header .inner-social a {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section1 */
.section-1 {
    background: url("https://static.vecteezy.com/system/resources/thumbnails/048/830/958/small_2x/modern-laptop-displaying-computer-code-on-screen-in-dark-room-setting-photo.jpeg") no-repeat center center;
    background-size: cover;
    /* ảnh căng full */
    width: 100%;
    /* full chiều ngang */
    height: 80vh;
    /* full chiều cao màn hình */
}

.section-1 .inner-wrap {
    color: white;
}

.section-1 .inner-wrap .inner-name {
    padding-top: 120px;
    margin-bottom: 20px;
    font-size: 17.6px;
}

.section-1 .inner-wrap .inner-cont {
    font-size: 49.6px;
    margin-bottom: 30px;
}

.section-1 .inner-wrap .inner-des {
    font-size: 17.6px;
    width: 38%;
    margin-bottom: 37px;
    color: var(--color2);
}

.section-1 .inner-wrap .inner-button {
    display: flex;
}

.section-1 .inner-wrap .inner-button .button {
    margin: 10px;
}

.section-1 .inner-wrap .inner-button .button2 {
    color: white;
    background: transparent;
    border: 1px solid var(--color2);
}

.section-1 .inner-wrap .inner-button .button2:hover {
    background: #F7D9C4;
    color: black;
}

.button1:hover {
    background: white;
}

/* end section1 */


/* section2 */
.section-2 {
    padding-top: 96px;
    padding-bottom: 16px;
    background: #EFEFEF;
}

.section-2 .inner-wrap {
    display: flex;
}

.section-2 .inner-wrap .box-1 {
    width: 50%;
}

.section-2 .inner-wrap .box-1 img {
    width: 85%;
}

.section-2 .inner-wrap .box-2 {
    width: 50%;
    padding-left: 10px;
    margin: 23.4px 0;
}

.section-2 .inner-wrap p {
    color: var(--color2);
    font-size: 17.6px;
    padding-bottom: 30px;
    width: 500px;
    line-height: 1.8;
}

.section-2 .inner-wrap h2 {
    font-size: 60.8px;
    margin-bottom: 25px;
}

.section-2 .inner-wrap .box-2 .inner-box {
    display: flex;
    margin-bottom: 30px;
}

.section-2 .inner-wrap .box-2 .box {
    width: calc(100% /3 - 37px);
    margin-right: 20px;
    height: 137.6px;
    background: white;
    text-align: center;
    line-height: 137.6px;
    border-radius: 10px;
}

.section-2 .inner-intro {
    padding-top: 128px;
    padding-bottom: 96px;
}

.section-2 .inner-intro-1 {
    background: white;
    display: flex;
}

.section-2 .inner-intro .inner-box-1 {
    width: 67%;
    padding: 48px 64px;
}

.section-2 .inner-intro .inner-box-1 p {
    font-size: 17.6px;
    color: var(--color2);
    margin-bottom: 16px;
}

.section-2 .inner-intro .inner-box-1 h2 {
    font-size: 60.8px;
    width: 483.83;
}

.section-2 .inner-intro .inner-box-2 {
    width: 33%;
    display: flex;
    position: relative;
    /* cần để dịch chuyển con */
}

.section-2 .inner-intro .inner-box-2 img {
    width: 320px;
    height: auto;
    object-fit: cover;
    margin-top: -60px;
    /* dịch ảnh nhô lên trên */
    border-radius: 10px 10px 0 0;
}


/* end section2 */
/* section3 */
.section-3 {
    background: #EFEFEF;
}

.section-3 .inner-wrap {
    padding-bottom: 50px;
}

.section-3 .inner-wrap img {
    width: 100%;
    border-radius: 15px;
}

.section-3 .inner-wrap .inner-block {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 15px;
    padding: 20px 40px;
    margin-top: -50px;
    position: relative;
    z-index: 2;
    justify-content: space-between;
}

.section-3 .inner-wrap .inner-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3 .block {
    padding-right: 100px;
}

.section-3 .button3 {
    background: black;
    color: white;
}

.section-3 .inner-block p {
    font-size: 17.6px;
    font-weight: 600;
}

.section-3 .inner-block .text {
    margin-bottom: 8px;
    color: var(--color2);
    font-weight: 300;
}

/* end section3 */
/* section4 */
.section-4 .inner-wrap {
    margin: 90px 0;
    padding: 80px 65px;
    background: #D9E4E7;
}

.section-4 .inner-wrap p {
    font-size: 17.6px;
    color: var(--color2);
    padding-bottom: 12px;
}

.section-4 .inner-wrap h3 {
    font-size: 49.6px;
    margin-bottom: 35px;
}

.section-4 .inner-wrap .information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.section-4 .inner-wrap .information input {
    width: calc(100% / 3 - 10px);
    padding: 15px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.section-4 .inner-wrap textarea {
    width: 100%;
    height: 200px;
    padding: 15px 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-bottom: 15px;
}

.section-4 .button-wrap {
    display: flex;
    justify-content: flex-end;
}

.section-4 .button {
    color: white;
    background: black;
}

/* end section4 */
@media screen and (max-width: 1200px) {
    .section-2 .inner-wrap .inner-box {
        flex-wrap: wrap;
    }

    .section-2 .inner-wrap .inner-box .box:nth-child(2) {
        margin-right: 100px;
    }

    .container {
        width: 100%;
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 992px) {
    .container {
        width: 100%;
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
    }

    .header .inner-title {
        display: none;
    }

    .header .inner-social {
        display: none;
    }

    .header .inner-bar {
        display: flex;
    }

    .section-1 .inner-wrap .inner-des {
        width: 100%;
    }

    .section-2 .inner-wrap {
        flex-wrap: wrap;
    }

    .section-2 .inner-wrap .box-1 {
        width: 100%;
    }

    .section-2 .inner-wrap .box-1 img {
        width: 100%;
    }

    .section-2 .inner-wrap .box-2 {
        width: 100%;
    }

    .section-2 .inner-wrap .inner-box .box:nth-child(2) {
        margin-right: 20px;
    }

    .section-2 .inner-wrap p {
        width: 100%;
    }

    .section-3 .inner-wrap .inner-block {
        flex-wrap: wrap;
    }

    .section-3 .inner-wrap .inner-title {
        flex-wrap: wrap;
        width: 100%;
    }

    .section-3 .block {
        width: 50%;
        margin-bottom: 20px;
    }

    .section-4 .inner-wrap .information {
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .section-4 .inner-wrap .information input {
        width: 100%;
        margin-bottom: 15px;
    }

    .section-2 .inner-intro-1 {
        flex-wrap: wrap;
        /* cần để dịch chuyển con */
    }

    .section-2 .inner-intro-1 .inner-box-1 {
        width: 100%;
    }

    .section-2 .inner-intro-1 .inner-box-2 {
        width: 100%;
    }

    .section-2 .inner-intro .inner-box-2 img {
        width: 50%;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .section-2 .inner-intro .inner-box-1 h2 {
        font-size: 48.64px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        max-width: 540px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-1 .inner-wrap .inner-name {
        width: 100%;
        text-align: center;
    }

    .section-1 .inner-wrap .inner-cont {
        width: 100%;
        text-align: center;
    }

    .section-1 .inner-wrap .inner-des {
        width: 100%;
        text-align: center;
    }

    .section-1 .inner-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .section-2 .inner-wrap .inner-box .box {
        width: calc(100% / 2 - 20px);
        margin-bottom: 10px;
    }

    .section-2 .inner-wrap .inner-box .box:nth-child(3) {
        margin-left: auto;
        margin-right: auto;
    }

    .section-2 .inner-intro .inner-box-1 p {
        text-align: center;
    }

    .section-2 .inner-intro .inner-box-1 h2 {
        text-align: center;
    }

    .section-2 .inner-wrap p {
        text-align: center;
    }

    .section-2 .inner-wrap h2 {
        text-align: center;
    }
    .button{
        margin-left: auto;
        margin-right: auto;
    }
    .section-3 .block {
        padding-right:0;
        text-align: center;
        width: 100%;
    }
}
@media screen and (max-width: 576px) {
  .container { max-width: 100%; }
}